@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #F678FF, #AF6CE6);
    background-attachment: fixed;
}

p {
    text-align: justify;
}
main {
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 66, 141, 0.705);
}

h1 {
    color: #F566A2;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(104, 44, 69, 0.506);
}

h2 {
    color: #421CFF;
}